<!-- /templates/customers/order.liquid -->

<div class="container my-5">
  <h1 class="lead">Order {{ order.name }}</h1>

  <div class="row my-5">
    <div class="col-lg-12 col-md-4 row-cols-3">
      <div class="card d-inline-block mx-4 ms-0">
        <div class="card-header">Billing Information</div>
        <div class="card-body">
          <p>Billing Status :
            <span class="badge badge-success">{{ order.financial_status_label }}</span>
          </p>
          {{ order.billing_address | format_address }}
        </div>
      </div>
      <div class="card d-inline-block mx-4">
        <div class="card-header">Shipping Information</div>
        <div class="card-body">
          <p>Shipping Status :
            <span class="badge badge-success">{{ order.fulfillment_status_label }}</span>
          </p>
          {{ order.shipping_address | format_address }}
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-4">
      <table class="table table-stripped my-4 table-bordered table-info">
        <caption>List of products in the Order {{ order.name }} with {{ order.item_count }} products</caption>
        <thead class="table-primary text-center">
          <th>#</th>
          <th>Title</th>
          <th>SKU</th>
          <th>Varient</th>
          <th>Original Price</th>
          <th>Quantity</th>
          <th>Discounted Price</th>
        </thead>
        <tbody>
          {% for line_item in order.line_items %}
            <tr>
              <td>{{ line_item.image | image_url: width: 50 | image_tag }}</td>
              <td>{{ line_item.title | link_to: line_item.product.url, class: " align-self-center ps-3 link-underline link-underline-opacity-0" }}</td>
              <td>{{ line_item.sku }}</td>
              <td>{{ line_item.variant.title }}</td>
              <td>{{ line_item.original_price | money }}</td>
              <td class="text-center">{{ line_item.quantity }}</td>
              <td>{{ line_item.final_line_price | money }}</td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td
              colspan="6"
              rowspan="4"
              class="lead text-center fw-semibold">
              Subtotal :
            </td>
          </tr>
          <tr class="border border-bottom-0 border-info">
            <td>Discount : {{ order.total_discounts | money }}</td>
          </tr>
          <tr class="table-borderless">
            <td>Taxes : {{ order.total_duties | money }}</td>
          </tr>
          <tr class="table-borderless">
            <td>
              <span class="h6">{{ order.total_net_amount | money }}</span>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>