<div class="sidebar-section col-12 p-2">
  {% for block in section.blocks %}
    {% assign item = block.settings %}
    {% if block.type == 'image' %}
      <div class="mb-4 card">
        <p class="card-header">{{ item.title }}</p>
        <a class="card-body sidebar-anchor_" href="{{item.url}}">
          <img
            class="img-fluid sidebar-image_"
            src="{{item.image| image_url: width: 800 }}"
            alt="{{item.image.alt}}"
            width=""
            height=""></a>
      </div>
    {% else %}
      <div class="mb-4 border border-info p-2">
        <h6 class="text-center">{{ item.title }}</h6>
        <p>{{ item.description }}</p>
      </div>
    {% endif %}
  {% endfor %}
</div>


{% schema %}
  {
    "name": "Sidebar",
    "class": "col-md-2 col-12 bg-info",
    "tag": "aside",
    "settings": [],
    "blocks": [
      {
        "name": "Sidebar Image",
        "type": "image",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Sidebar Image Title"
          }, {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {

            "type": "url",
            "id": "url",
            "label": "URL"
          }
        ]
      }, {
        "name": "Sidebar Text",
        "type": "text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Sidebar Title"
          }, {
            "type": "richtext",
            "id": "description",
            "label": "Description",
            "default": "<p>This is a description</p>"
          }
        ]
      }
    ]

  }
{% endschema %}